#ignore node_modules folder to be push in github
/node_modules/

#ignore profile uploads to be push in github
/public/images/uploads/

#ignore vendor folder to be push in github
/vendor

#ignore .env file to be push in github
.env

# ignore images uploads to be push to github
/public/images/qrCode/
/public/images/reportLitterer/
/public/images/reportWaste/
/public/images/ids/